
.App 
{
  display: flex;
  align-items: stretch;
}
.App > .leftMenu {
  
  flex: 200px 0 0;
}
.App > .content {
  flex: 200px 1;
  margin: 20px 30px;
}
.page-item {
  cursor: pointer;
}
.flex-items {
  display: flex;
}
.page-size{
  margin-left: 20px;
  width: auto !important;
  height: 40px;
}